body {
  margin: 0 !important;
  padding: 0 !important;
  /* font-family: "Outfit Variable", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-10hburv-MuiTypography-root {
  font-family: Nunito !important;
}
